<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timeline</title>
    <link rel="stylesheet" href="./stylesheets/timeline.css" />
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="logo">
          <img src="./assets/logo.svg" alt="genric blog log" />
        </div>

        <div class="logout"><a href="/logout">Logout</a></div>
      </nav>

      <section class="timeline">
            <div class="side-bar">
                    
                <div>
                    <img src="./assets/todd_chavez.jpg" alt="" class="avatar" />
                </div>

                <div class="display-name"><%=name%></div>
                
                    <div class="posts post-timeline"><a href="/createPost">POSTS</a></div>
                    <div class="tl post-timeline"><a href="/">TIMELINE</a></div>
                
              
            </div>

            <div class="main">
            <h1 class="post-heading">Create a Post</h1>

                  <form action="/create-post" method="POST">
                    <input type="text" name="blog title" placeholder="Title"/>
                      <textarea
                        name="text"
                        id=""
                        cols="80"
                        rows="20"
                        placeholder="blog away!"
                      ></textarea>
                      <button >POST</button>     
                  </form>
                </div>


            </div>

            </div>
            </div>
        </section>
    </div>
  </body>
</html>
