<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="stylesheets/dashboard.css">
  </head>

  <body>
    <div class="container">
     

      <div class="side-bar">
        <p>This is the side bar</p>
      </div>

      <div class="main">
        <h1>Welcome Malik!</h1>
        This is the main display page
      </div>

    </div>
    <button>Logout</button>
  </body>
</html>
