<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>generic blog</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <img src="assets/logo.svg" alt="" />
        <div>generic blog</div>
        <ul>
          <li class="login"><a href="/loginpage">Login</a></li>
          <li class="register"><a href="/registerpage">Register</a></li>
        </ul>
      </nav>
      <div class="main">
        <h1>Welcome to the world's most popular blogging platform</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          maxime reprehenderit dolorem enim cum delectus laborum voluptatum
          pariatur esse corporis architecto ipsa hic sint labore iste,
          consectetur dolor minus! Tempore.
        </p>
        <footer></footer>
      </div>
    </div>
  </body>
</html>
