<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link rel="stylesheet" href="/stylesheets/registration_style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Register</h1>
      <form method="POST" action="/register">
        <label for="surname">Surname</label><br />
        <input type="text" id="surname" name="surname"/> <br />
        <label for="firstname">Firstname</label> <br />
        <input type="text" id="firstname" name="firstname"/> <br />
        <label for="email">Email</label> <br />
        <input type="email" id="email" name="email"/> <br />
        <label for="password">Password</label> <br />
        <input type="password" id="password" name="password" /> <br />
        <input type="submit" value="Register" />
        <div><a href="/">homepage</a></div>
      </form>
    </div>
  </body>
</html>
