<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timeline</title>
    <link rel="stylesheet" href="./stylesheets/timeline.css" />
  </head>

  <body>
    <div class="container">
      <nav>
        <div class="logo">
          <img src="./assets/logo.svg" alt="genric blog log" />
        </div>

        <div class="logout"><a href="/logout">Logout</a></div>
      </nav>

      <section class="timeline">
        <div class="side-bar">
          <div>
            <img src="./assets/todd_chavez.jpg" alt="" class="avatar" />
          </div>

          <div class="display-name"><%=name%></div>

          <div class="posts post-timeline"><a href="/createPost">POSTS</a></div>
          <div class="tl post-timeline"><a href="/">TIMELINE</a></div>
        </div>

        <div class="main">
          <h1>Timeline</h1>
          <div class="card-container">
            <div class="display-image">
              <img src="./assets/todd_chavez.jpg" alt="" width="50px" />
            </div>
            <div class="card">
              <div class="title"></div>
              <div class="content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab
                suscipit consectetur velit esse hic, molestiae vitae quia sequi
                reprehender
              </div>
              <div class="tiny-deets">
                <div class="user">Todd.</div>
                <div class="date">Jan 9th, 2021</div>
                <div class="time">06:02 PM</div>
              </div>
            </div>
          </div>

          <div class="card-container">
            <div class="display-image">
              <img src="./assets/todd_chavez.jpg" alt="" width="50px" />
            </div>
            <div class="card">
              <div class="title"></div>
              <div class="content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab
                suscipit consectetur velit esse hic, molestiae vitae quia sequi
                reprehender
              </div>
              <div class="tiny-deets">
                <div class="user">Todd.</div>
                <div class="date">Jan 9th, 2021</div>
                <div class="time">06:02 PM</div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
