html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
body {
  background-color: floralwhite;
}
.container {
  width: 70vw;
  margin: 0 auto;
}

.logo > img {
  width: 4rem;
  height: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.logout {
  border: 1px solid black;
  padding: 0.6rem;
}

.logout:hover {
  background: #cdb8b8;
}

.blog-section {
  margin: 8rem auto;

  display: flex;
  font-size: 2rem;
}

.side-bar {
  padding: 3rem;
  margin-right: 15rem;
  border-right: 1px solid gray;
}

.avatar {
  width: 6rem;
  border-radius: 50%;
}

textarea {
  resize: none;
}
